*{
    box-sizing: border-box;
    scrollbar-width: none;
}

body {
    font-family: serif;
    background: #dbe3de;
    background: -webkit-linear-gradient(to left, #ffffff, #dbe3de);
    background: linear-gradient(to left, #ffffff, #dbe3de);
    scrollbar-width: none;
}

a {
    text-decoration: none;
}

nav.my-navbar {
    padding-left: 10px;
    padding-right: 10px;
}

a.my-navbar-logo {
    margin-left: 7.5px;
    margin-right: 7.5px;
}

a.my-navbar-logo img {
    height: 30px;
    border-radius: 5px;
}

a.my-navbar-main {
    margin-left: 7.5px;
    margin-right: 7.5px;
    font-size: 1.25rem;
    color: white;
}

div.my-dropdown-style {
    right: 0;
    margin-top: 15px;
    left: auto;
}

div.my-container {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 75px;
}

div.my-row {
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
}

p.my-text {
    text-align: justify;
}

div.my-input input:focus {
    box-shadow: none;
    outline: none;
}

div.my-input input:-webkit-autofill,
div.my-input input:-webkit-autofill:hover, 
div.my-input input:-webkit-autofill:focus, 
div.my-input input:-webkit-autofill:active { 
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    background-color: white;
}

a.my-link-password {
    font-size: 0.75rem;
    margin-bottom: 15px;
    color: red;
}

a.my-link-user-create {
    margin-bottom: 15px;
}

input.my-input-search {
    height: 36px;
    width: 90px;
    text-align: center;
    margin-right: 15px;
}

input.my-input-search:focus {
    background-color: inherit;
    color: inherit;
    box-shadow: none;
    outline: none;
}

input.my-checkbox-search {
    margin-top: 10px;
}

button.my-submit-search {
    background-color: inherit;
    border: none;
    color: blue;
    opacity: 65%;
    height: 36px;
}
